.container {
  display: flex;
  flex-direction: row;
  width: 100%; 
  gap: 2em;
  padding: 1em;
  justify-content: center; /* center items horizontally */
}

.popularRestaurants, .rarestEats, .favoritesScroll {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
  padding: 1em;
  border-radius: 18px;
  height: calc(50vh - 3em - 60px); /* set the height of the container to 50vh minus the padding (2em) */
  max-height: calc(50vh - 3em - 60px); /* set the maximum height of the container to 50vh minus the padding (2em) */
}

.popularRestaurants {
  background-color: #00eb14;
  flex: 1 1 0; /* flex-grow, flex-shrink, flex-basis */
}

.rarestEats {
  background-color: #ff0000;
  flex: 1 1 0; /* flex-grow, flex-shrink, flex-basis */
}

.favoritesScroll {
  background-color: #4400ff;
  flex: 1 1 0; /* flex-grow, flex-shrink, flex-basis */
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}