.container {
  display: flex;
  flex-direction: row; 
  gap: 2em;
  padding: 1em;
  justify-content: center; /* center items horizontally */
}

.popularRestaurants, .rarestEats, .favoritesScroll {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
  padding: 1em;
  border-radius: 18px 18px 0 0; /* top left and top right corners are rounded, bottom left and bottom right are not */
  height: calc(50vh - 3em - 60px); 
  max-height: calc(50vh - 3em - 60px); 
}

.popularRestaurants {
  background-color: #ffffff;
  flex: 1 1 0; /* flex-grow, flex-shrink, flex-basis */
}

.rarestEats {
  background-color: #ffffff;
  flex: 1 1 0; /* flex-grow, flex-shrink, flex-basis */
}

.favoritesScroll {
  background-color: #ffffff;
  flex: 0.7 1 0; /* flex-grow, flex-shrink, flex-basis */
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}