.column {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  color: gray;
}

.divider {
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, #ddd, #bbb, #ddd);
  margin: 16px 0;
}


.gallery {
  margin-top: 24px;
}


.images img {
  width: 100%;
  height: auto;
}