.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
  background-color: #fff;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.reviews {
  margin-top: 24px;
}

.reviews ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.reviews li {
  margin-right: 8px;
}

.gallery {
  margin-top: 24px;
}

.gallery h2 {
  margin-bottom: 16px;
}

.images {
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  grid-gap: 16px;
}

.images img {
  width: 100%;
  height: auto;
}