.column {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.reviews {
  margin-top: 24px;
}

.reviews ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.reviews li {
  margin-right: 8px;
}

.gallery {
  margin-top: 24px;
}

.gallery h2 {
  margin-bottom: 16px;
}

.images {
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  grid-gap: 16px;
}

.images img {
  width: 100%;
  height: auto;
}