.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow-y: auto; 
  max-height: 95%; 
  justify-content: center;
  padding: 1em;
  border-radius: 18px /* top left and top right corners are rounded, bottom left and bottom right are not */
}