@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400;500;600;700&display=swap');
:root {
    --color-greenery: #018786;
    --color-white: #ffffff;
    --color-lightgreen: #03DAC5;
  }

  body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Roboto Flex', sans-serif;
  }
 
  .dark{
    background-color: #222;
    color: #e6e6e6;
}
