.itemContainer {
    border: 0.25em solid lightgrey;
    border-radius: 1em;
    margin: 1em;
    padding: 0.5em;
    text-align: left;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 7em 1fr;
    grid-template-rows: auto;
}

.body {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1;
}

.itemContainer > img {
    width: 7em;
    grid-column: 1;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
}

.kcal {
    font-style: italic;
}

.description {
    text-align: justify;
    grid-column: 2;
}