.foodGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15vh, 1fr));
  grid-gap: 16px;
  max-height: 95%; 
  overflow-y: auto;
  overflow-x: hidden; 
}

.noFood{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 24px;
  color: #999;
}