.itemContainer {
    border: 0.25em solid lightgray;
    border-radius: 1em;
    margin: 1em;
    padding: 0.5em;
    text-align: left;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 5em 1fr;
    grid-template-rows: 1fr;
}

.avatarArea {
    grid-column: 1;
    grid-row: 1;
}

.avatarArea > img {
    width: 5em;
}

.reviewBody {
    grid-column: 2;
    grid-row: 1;
}

.author {
    font-weight: bold;
}

.rating {
    font-style: italic;
}

.content {
    text-align: justify;
}